<div class="container">
    <h1 class="mt-3">Employee List</h1>
    <div class="d-flex justify-content-end mt-3">
        <table class="table mt-3">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Delete / Update</th>
              <!-- Add other table headers if needed -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td>{{ employee.EmployeeId }}</td>
              <td>{{ employee.EmployeeName }}</td>
              <button (click)="removeEmployee(employee.EmployeeId)" class="btn btn-danger">Remove</button>
              <button [routerLink]="['/employee/update']" class="btn btn-warning">Update</button>
              <!-- Add other table columns if needed -->
            </tr>
          </tbody>
        </table>
    </div>
    <button [routerLink]="['/employee/add']" class="btn btn-primary">Add Employee</button>
</div>