@page "/employees"
@inject BlazorCRUDapp.Data.IEmployeeService EmployeeService;

<h1>All Employees</h1>
<br/>

<a  href="employee/0">Add Employee</a>
    <table class="table"
        <thead>
            <tr>
                <td> ID</td>
                <td>Name</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach(var employee in employees)
            {
            <tr>
                <td> @employee.Id</td>
                <td>@employee.Name</td>
                <td>
                    <a a href = "employee/@employee.Id"> 
                        Edit
                    </a>
                </td>
                <td>
                    <button class="btn btn-primary" @onclick = "@(e=> OnDelete(employee.Id))"> Delete </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
@code {
    private List<BlazorCRUDapp.Data.Employee> employees;
    protected override void OnInitialized()
    {
        employees = EmployeeService.GetEmployees();
    }

    private void OnDelete(Guid Id)
    {
        EmployeeService.DeleteEmployee(Id);
    }
}
