<!-- <div class="k-block">
    <button kendoButton [look]="'default'">Default Button</button>
    <button kendoButton [look]="'outline'">Outline Button</button>
    <button kendoButton [look]="'clear'">Clear Button</button>
    <button kendoButton [disabled]="true"> Button</button>
</div> -->

<kendo-buttongroup class="outline">
    <button kendoButton [icon]="'calendar'">Calendar</button>
    <button kendoButton [icon]="'check'">Check</button>
    <button kendoButton [icon]="'user'">User</button>
</kendo-buttongroup>
  

