<mat-toolbar color="primary">
  <span>Manan Amitkumar Patel - s361298</span>
</mat-toolbar>

<div style="width: 300px; margin: auto; padding-top: 50px;">

  <h2>Charles Darwin University</h2>

  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Enter your first name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Enter your last name">
  </mat-form-field>

  <button mat-raised-button color="primary" style="display: block; width: 100%; margin-top: 20px;">Submit</button>
</div>