<div class="container">
    <h1 class="mt-3">Student List</h1>
    <div class="d-flex justify-content-end mt-3">
        <table class="table mt-3">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Delete / Update</th>
              <!-- Add other table headers if needed -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students">
              <td>{{ student.StudentId }}</td>
              <td>{{ student.StudentName }}</td>
              <button (click)="removeStudent(student.StudentId)" class="btn btn-danger">Remove</button>
              <button [routerLink]="['/student/update']" class="btn btn-warning">Update</button>
              <!-- Add other table columns if needed -->
            </tr>
          </tbody>
        </table>
    </div>
    <button [routerLink]="['/student/add']" class="btn btn-primary">Add Student</button>
</div>